<% include partials/header %>
<div class="container">
    <h1 class="text-center py-3">Add Restaurant</h1>
    <div class="container">
        <form class="" action="/restaurants" method="POST" >
            <input type="text" name="name" placeholder="Name" class="form-control">
            <input type="text" name="image" placeholder="Image-url" class="form-control my-2">
            <input type="text" name="address" placeholder="Address" class="form-control">
            <button class="btn btn-success btn-block my-2">Add restaurant</button>
        </form>
    </div>
</div>



<% include partials/footer %>